<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

    <title>Comment Form</title>
</head>

<body>

<div class="container">
    <br><br>
    <p class="h4 mb-4">Leave a comment</p>

    <form action="#" method="POST"
          th:action="@{/blog/saveComment}" th:object="${comments}">

        <!-- Add hidden form field to handle update -->
        <input th:field="*{id}" type="hidden"/>
        <input th:field="*{createdAt}" type="hidden"/>
        <input th:field="*{postId}" type="hidden"/>


        <input class="form-control mb-4 col-4" placeholder="Your Full Name"
               th:field="*{name}" type="text" th:readonly="${comments.name != null && #authentication.name != 'admin'}">

        <input class="form-control mb-4 col-4" placeholder="Your Email"
               th:field="*{email}" type="text">

        <textarea class="form-control mb-4 col-4"
                  placeholder="Write your comments..." th:field="*{comment}"/>

        <button class="btn btn-outline-success col-2" type="submit">Submit</button>

    </form>

    <hr>
    <a class="btn btn-outline-success" th:href="@{/blog/bloglist}">Go Home</a>

</div>
</body>

</html>







