<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

    <title>Create Blog</title>
</head>

<body>

<div class="container">

    <h3 style="text-align: center">Your Blog</h3>
    <hr>

    <p class="h4 mb-4">Save Your Blog</p>

    <form action="#" method="POST"
          th:action="@{/blog/save}" th:object="${posts}">

        <!-- Add hidden form field to handle update -->
        <input th:field="*{id}" type="hidden"/>

        <input class="form-control mb-4 col-4" placeholder="Your blog title"
               th:field="*{title}" type="text">

        <textarea class="form-control mb-4 col-4"
                  placeholder="Write your blog..." th:field="*{content}"/>

        <input class="form-control mb-4 col-4" placeholder="Your Full Name"
               th:field="*{author}" type="text" th:readonly="${posts.author != 'anonymousUser' && #authentication.name != 'admin'}">

        <select class="form-control mb-4 col-4" multiple="multiple" th:field="*{tagsList}">
            <option th:each="tag : ${allTaglist}" th:text="${tag.name}" th:value="${tag.id}"/>
        </select>

        <!-- Add publish date input #dates.format(tempPosts.publishedAt, 'yyyy-MM-dd'T'hh:mm:ss')-->
        <input class="form-control mb-4 col-4" id="publishedDate" name="publishedDate"
               step=1 th:value="${posts.publishedDate}" type="datetime-local"/>
        <button class="btn btn-outline-success col-2" type="submit">Save</button>

    </form>

    <hr>
    <a class="btn btn-outline-success" th:href="@{/blog/bloglist}">Go Home</a>

</div>
</body>

</html>







