<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Create Blog</title>
</head>

<body>

<div class="container">

    <h3 style="text-align: center">Your Blog</h3>
    <hr>

    <p class="h4 mb-4">Save Your Blog</p>

    <form action="#" th:action="@{/blog/save}"
          th:object="${posts}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{title}"
               class="form-control mb-4 col-4" placeholder="Your blog title">

        <textarea th:field="*{content}"
                  class="form-control mb-4 col-4" placeholder="Write your blog..."  />

        <input type="text" th:field="*{author}"
               class="form-control mb-4 col-4" placeholder="Your Full Name">

        <select th:field="*{tagsList}" multiple="multiple" class="form-control mb-4 col-4">
            <option th:each="tag : ${allTaglist}" th:value="${tag.id}" th:text="${tag.name}" />
        </select>

        <!-- Add publish date input -->
        <input type="datetime-local" th:field="*{publishedAt}"
               class="form-control mb-4 col-4" placeholder="choose date for publish">
        <button type="submit" class="btn btn-outline-success col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/blog/bloglist}" class="btn btn-outline-success">Go Home</a>

</div>
</body>

</html>







